<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>pome</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.min.css') }}">
</head>

<body class="bg-gray-700 text-white mt-5 ml-10">
  <nav class="fixed top-5 left-10" style="width: 350px;">
    <header class="flex">
      <img src="{{url_for('static', filename='pome-round.png')}}" width="70px" />
      <div class="ml-5">
        <h1 class="text-4xl">pome</h1>
        <h2 class="text-xl">v.0.0.1</h2>
      </div>
    </header>
  </nav>
  <main style="margin-left: 360px;">
    {% block content %}{% endblock %}
  </main>
</body>

</html>