{% extends 'base.html' %}
{% block main_title %}
Invoices
{% endblock %}
{% block content %}

<header class="w-full flex justify-end">
  <a href="/invoices/new">
    <div class="btn btn-success text-lg font-bold">New Invoice</div>
  </a>
</header>

<div class="mt-10">
  <table class="w-full text-lg text-left">
    <thead>
      <th>#</th>
      <th>Date</th>
      <th>Client</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Transactions</th>
    </thead>

    <tbody>

      {% if not pending_invoices and not paid_invoices %}<tr>
        <td colspan="4">No invoice found.</td>
      </tr>
      {% endif %}

      {% for invoice_id, pending_invoice in pending_invoices %}
      <tr>
        <td>{{pending_invoice.invoice_number}}</td>
        <td> <a href="/invoices/recorded/{{invoice_id}}" class="normal-link"><span
              data-date="{{all_transactions[pending_invoice.transactions.invoice].date}}"></span></a>
        </td>
        <td>{{pending_invoice.client}}</td>
        <td>{% for tag in pending_invoice.tags %} {{tag}} {%endfor%}</td>
        <td><span class="dot" style="background-color: orange; height: 14px; width: 14px;" title="Pending"></span></td>
        <td><a href="/invoices/recorded/{{pending_invoice.transactions.invoice}}" class="normal-link"
            target="_blank">{{pending_invoice.transactions.invoice}}</a>
        </td>
      </tr>
      {% endfor %}

      {% for bill_id, paid_invoice in paid_invoices %}
      <tr>
        <td>{{paid_invoice.invoice_number}}</td>
        <td> <a href="/invoices/recorded/{{invoice_id}}" class="normal-link"><span
              data-date="{{all_transactions[paid_invoice.transactions.invoice].date}}"></span></a>
        </td>
        <td>{{paid_invoice.client}}</td>
        <td>{% for tag in paid_invoice.tags %} {{tag}} {%endfor%}</td>
        <td><span class="dot" style="background-color: springgreen; height: 14px; width: 14px;" title="Pending"></span>
        </td>
        <td><a href="/invoices/recorded/{{paid_invoice.transactions.invoice}}" class="normal-link"
            target="_blank">{{paid_invoice.transactions.invoice}}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<script lang="js">
  mountDates();
</script>

{% endblock %}